name: Node Continuous Integration

on:
  pull_request:
    branches: [ master ]
  workflow_run:
    workflows:
      - CI
    types:
      - completed


jobs:
  test_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - uses: stefanoeb/eslint-action@1.0.2
        with:
          files: src/
      - run: npm ci
      - run: eslint . --ext .js
      - run: npm test
  
  automerge:
    if: github.event.review.state == 'approved' || !github.event.review
    runs-on: ubuntu-latest
    steps:
      - uses: reitermarkus/automerge@v1
        with:
          token: ${{ secrets.AUTOMERGE }}
          merge-method: rebase
          do-not-merge-labels: never-merge
          required-labels: automerge
          pull-request: ${{ github.event.inputs.pull-request }}
          dry-run: true


      